<header>
  <div class="container">
    <a class="logo" href="index.html">
      <img src="img/logo.png" alt="LOGO" width="60" />
    </a>

    <ul class="social-media">
      <li>
        <a
          class="social-link"
          href="https://www.instagram.com/sorokina.y_julias.jewelry/"
          target="blank"
        >
          <svg class="icon-svg" width="22" height="22">
            <use href="img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-link"
          href="https://www.facebook.com/Julia.s.Jewelry.handmade"
          target="blank"
        >
          <svg class="icon-svg" width="22" height="22">
            <use href="img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
