:root {
  --main-color: #0683c6;
  --txt-color: #362e46;
  --light-color: #d8f5fb;
  --logo-color: #727272;
  --accent-color: #ff8000;
  --second-accent: #bfff00;
  --third-accent: #ff00bf;

  --main-font: Comfortaa;
  --accent-font: Unbounded;

  --transition-cub: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  margin: 0;
}
