header {
  padding: 15px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-media {
  display: flex;
  gap: 20px;
}

.social-link {
  display: flex;
  background-color: var(--main-color);
  border-radius: 50%;
  padding: 10px;
  transition: background-color 500ms var(--transition-cub);
}
.social-link:hover {
  background-color: var(--accent-color);
}

.icon-svg {
  stroke: var(--logo-color);
}
